html {
  font-size:1em;
  text-align: center;
  font-family: Comic Sans MS;
  background-color: #F7D3CF; 
  
}

h1 {
  border-bottom:1px solid black;
   background-color:#eeeeFe;
        color:navy;
        text-align:center;
      }
}

li {
  margin:1em;
}