body {
  font-size:1em;
  text-align: center;
  font-family: Comic Sans MS;
  background-color: #F7D3CF;

}

.revealed {
  margin:20px;
  letter-spacing:0.5em;
}
.userInput {
  margin:20px;
}

.health {
	 height: 65vh;
	 border-radius:10px;
}

input{
  font-size:2em;
  background-color: #eeeeFe;
  color:navy;
}      

 h1{
        background-color:#eeeeFe;
        color:navy;
        text-align:center;
      }
