body {
  font-size:1em;
  font-family: Comic Sans MS;
  background-color: #F7D3CF;

}

h1{
  background-color:#eeeeFe;
  color:navy;
  text-align:center;
  }

h2{
color:navy;
}

input{
  font-size:2em;
  background-color: #eeeeFe;
  color:navy;
}

li{
    font-size:1.5em;
}
